/* light d3f6d1
 dark 5c8d89
 matte light D3E4CD  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header-1: calc(2rem + 1vw);
  --header-2: calc(3.5rem + 1vw);
  --header-3: calc(3rem + 1vw);
  --header4: calc(2.4em + 1vw);
  --text: calc(1.5rem +1vw);
  --text-color: #525252;
  --bg-color: #414141;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header-1);
  font-family: "Great Vibes";
}

h2 {
  font-size: var(--header-2);
  font-family: "Limelight";
}

h3 {
  font-size: var(--header-3);
}

h4 {
  font-size: var(--header4);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 2rem;
  font-family: "Arvo";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Arvo";
  font-weight: ;
  background: #e3dfc8;
  animation: opening 1s ease-in-out;
  overflow: overlay;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c7b198;
  border-radius: 10px;
}

/*Nav Section*/
.head-out {
  width: 100%;
  height: 10vh;
  margin: 2rem auto;
  margin-top: ;
}
.main-head {
  width: 90%;
  background: #c7b198;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 2;
  position: relative;
  margin: auto;
  border-radius: 25px;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}

#logo {
  flex: 3 1 20rem;
}

.nav-links {
  display: flex;
  flex: 1 1 20rem;
  justify-content: space-between;
}

.nav-links a {
  color: black;
  font-size: 2rem;
  transition: 0.5s;
  padding: 1rem 2rem;
}

.nav-links a:hover {
  background-color: #e3dfc8;
  border-radius: 10px;
  transform: scale(2);
}

/*Hero Section*/

.hero {
  min-height: 90vh;
  margin: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hero-intro {
  flex: 2 1 40rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.116);
}

.hero-intro p {
  padding: 5rem 10rem;
}

.hero-intro h2 {
  padding-top: 3rem;
}

.hero-intro a {
  font-size: 2.5rem;
  color: black;
  border: solid 2px var(--text-color);
  padding: 1.5rem 6rem;
  margin-bottom: 4rem;
  transition: 0.5s ease;
}

.hero-intro a:hover {
  background-color: #c7b198;
  transform: scale(1.2);
}

.hero-images {
  flex: 1 1 40rem;
  background: #99a799;
  position: relative;
  z-index: 1;
}

.hero-elena {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  animation: plant 1.5s ease-in-out,
    plant-animate 2.5s infinite alternate-reverse ease 2s;
  transform-origin: bottom;
}

.plant-2 {
  left: 40%;
}

/*Page Fade In Animation*/
@keyframes opening {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Plant Animation*/

@keyframes plant {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }

  to {
    transform: translateY(0) rotateX(0deg) rotateX(0deg);
  }
}

@keyframes plant-animate {
  from {
    transform: rotateZ(-5deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

.burger,
.menu-check {
  display: none;
}

.box-main {
  width: 90%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/*About Section*/

#about {
  font-size: 5rem;
  margin: 4rem auto;
  text-align: center;
  font-size: 900;
  font-weight: 900;
  padding: 2rem;
}

#about p {
  font-weight: 400;
  margin: 1rem;
  letter-spacing: 0;
}

.about {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.about-image {
  flex: 1 1 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #e3dfc8;
}

.about-image h5 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #e3dfc8;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 10px;
}

.about-image img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-text {
  flex: 2 1 40rem;
  justify-content: space-around;
  background: #e3dfc8;
}

.box {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.116);
  border-radius: 25px;
  padding: 6rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box h2 {
  padding: 1rem;
  font-size: 3rem;
  letter-spacing: 5px;
  background: black;
  color: #e3dfc8;
  border-radius: 25px;
}

.box div {
  padding: 2rem 4rem;
}

.box h3 {
  font-size: 2rem;
  padding: 1rem 0rem;
  border-bottom: 2px solid black;
  display: inline-block;
  letter-spacing: 1px;
}

.box p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.about-contact {
}

/*Gallery Section*/

#gallery {
  font-size: 5rem;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
  font-size: 900;
  font-weight: 900;
  padding: 2rem;
}

#gallery p {
  font-weight: 400;
  margin: 1rem;
  letter-spacing: 7px;
}

.gallery-bg {
  width: 90%;
  background-color: #e3dfc8;
  margin: auto;
  margin-bottom: 2rem;
}

.gallery {
  max-width: 1100px;
  padding: 2rem;
  margin: auto;
  background: ;
  border-radius: 25px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(autofit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
}
.v-stretch {
  grid-row: span 2;
}

.h-stretch {
  grid-column: span 2;
}

.big-stretch {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: grayscale(0.5);
  border: 15px solid black;
  background-color: black;
}

.blank img {
  opacity: 0;
}

.blank {
  position: relative;
  background-color: #c7b198;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.blank h5 {
  position: absolute;

  font-size: 3.5rem;
}

.blank p {
  position: absolute;
  padding: 4rem 5rem;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
}

/*Contact Section*/

#contact {
  margin: 7rem;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

#contact p {
  font-weight: lighter;
  padding: 1rem;
}

.contact {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-wrapper {
  flex: 3 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.116);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.form-wrapper h2 {
  font-size: 5rem;

  padding: 0;
}

.form-wrapper p {
  font-size: 1.5rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem 0rem;
  background-color: #e3dfc8;
  padding: 4rem;
  border-radius: 25px;
}

form input {
  background: none;
  outline: none;
  border: 3px solid #3a3a3a;
  margin: 1rem;
  padding: 2rem 1rem;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s ease;
}

form input:focus {
  background-color: #c7b198;
  width: 100%;
}

.contact-img {
  flex: 1 1 40rem;
  background: ;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.form-wrapper button {
  border: 3px rgb(71, 71, 71) solid;
  padding: 2rem 4rem;
  outline: none;
  background: #c7b198;
  width: 100%;
  font-size: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  width: 90%;
  background: #c7b198;
  min-height: 10vh;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 2rem;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

footer h4 {
  flex: 1 1 40rem;
  font-family: "Great Vibes";
  font-size: 3rem;
}

footer ul {
  display: flex;
  font-size: 3rem;
}
footer li {
  padding: 1rem;
  margin: 0rem 1rem;
  transition: 0.5s ease;
  cursor: pointer;
}

footer li:hover {
  background-color: #e3dfc8;
  border-radius: 25px;
  transform: scale(1.3);
}
/*Media Query*/

@media screen and (max-width: 800px) {
  .hero h2 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 2rem;
  }

  .plant-1 {
    height: 80%;
    width: 60%;
  }

  .plant-2 {
    height: 80%;
  }

  .hero {
    margin-top: 2rem;
  }

  /*About Section*/

  .box div {
    padding: 1rem 2rem;
  }

  /*Nav Animation*/

  .burger {
    position: relative;
    display: block;
    position: sticky;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--text-color);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  .nav-links {
    position: fixed;
    background: var(--bg-color);
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 1s ease;
  }

  .nav-links a {
    color: #ffffff;
    font-size: 3rem;
    padding: 1rem 2rem;
    border-bottom: 5px solid #cee5d0;
  }

  .nav-open {
    transform: translate(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  /*Contact Section*/

  .form-wrapper {
    border-radius: 25px 25px 0px 0px;
  }

  .contact-img {
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
  }

  .contactimage {
    width: 110%;
    height: 110%;
  }
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
    font-family: "Poiret One";
  }
  footer ul {
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 460px) {
  #about {
    font-size: 3rem;
    margin: 2rem auto;
    text-align: center;
    font-size: 900;
    font-weight: 900;
    padding: 2rem;
  }

  #about p {
    font-size: 1.5rem;
  }

  #gallery {
    font-size: 3rem;
    margin: 2rem auto;
  }

  #gallery p {
    font-size: 1.5rem;
  }

  #contact {
    margin: 8rem auto;
    font-size: 3rem;
  }

  #contact p {
    font-size: 1.5rem;
  }

  .v-stretch {
    grid-row: span 1;
  }
  .big-stretch {
    grid-row: span 1;
    grid-column: span 1;
  }
  #logo {
    font-size: 3rem;
  }

  .burger span {
    padding: 0.2rem 1.5rem;
  }

  .hero h2 {
    font-size: 3.6rem;
  }

  .hero p {
    font-size: 1.5rem;
    padding: 4rem 5rem;
  }

  .form-wrapper {
    text-align: center;
  }

  .blank h5 {
    font-size: 2rem;
  }
}
